@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "IndexSearch";
}
    <h1>Search Results</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
