@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Cart";
}

<h1>Your Shopping Cart</h1>
@if (Model.Count() < 1)
{
    <div>Your shopping cart is empty!</div>
}
@foreach (var orderItem in Model)
{
    @*if (orderItem.OrderProducts.Count < 1)
    {
        <div>Your shopping cart is empty!</div>
    }
    else*@
    <table class="table">
        <tbody>
        <tr>
            <td>
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    @foreach (var orderProduct in orderItem.OrderProducts)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => orderProduct.Product.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => orderProduct.Product.Price)
                            </td>
                            <td>
                                <div>
                                    <input type="button" value="Remove" class="btn btn-danger"
                                           onclick="location.href = '@Url.Action("RemoveProductFromOrder", "Orders", new {id = orderProduct.ProductId})'" />
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <input type="button" value="Complete Order" class="btn btn-primary"
                           onclick="location.href = '@Url.Action("Edit", "Orders", new {id = orderItem.OrderId})'" />
                </div>
                <br/>
                <div>
                    <input type="button" value="Delete Order" class="btn btn-danger"
                           onclick="location.href = '@Url.Action("Delete", "Orders", new {id = orderItem.OrderId})'" />
                </div>
                @*<a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |*@
            </td>
        </tr>
        </tbody>
    </table>

}